<div class="demo-tab">
  {{#split-view isVertical=true  class="splitViewVertical" as |split|}}
    {{#split.child class="border"}}
      {{ring}}
    {{/split.child}}
    {{split.sash}}
    {{#split.child class="border"}}
      {{yoda}}
    {{/split.child}}
  {{/split-view}}
</div>
